<% _.each(rc, function(songitem){ %>
<li class="song-item card">
    <article class="clearfix">
        <h1 class="song-name col-md-9 col-lg-9"><%- songitem.name %></h1>
        <div class="song-action col-md-3 col-lg-3">
            <button class="upvote" data-songid="<%- songitem.id %>" data-isupvoted="<%- songitem.user_upvote %>">
                <span class="upvote-icon"></span>
            </button>
            <span class="button-divider"></span>
            <button class="downvote" data-songid="<%- songitem.id %>" data-downvoted="<%- songitem.user_downvote %>">
                <span class="downvote-icon"></span>
            </button>
        </div>
    </article>
</li>
<% }); %>