<li class="song-item card">
    <article class="clearfix">
        <h1 class="song-name col-md-9 col-lg-9">Le gaya Chunariya template</h1>
        <div class="song-action col-md-3 col-lg-3">
            <button class="upvote" data-songid="1" data-isupvoted="0">
                <span class="upvote-icon"></span>
            </button>
            <span class="button-divider"></span>
            <button class="downvote" data-songid="1" data-downvoted="1">
                <span class="downvote-icon"></span>
            </button>
        </div>
    </article>
</li>
<li class="song-item card">
    <article class="clearfix">
        <h1 class="song-name col-md-9 col-lg-9">Le gaya Chunariya template</h1>
        <div class="song-action col-md-3 col-lg-3">
            <button class="upvote" data-songid="2" data-isupvoted="0">
                <span class="upvote-icon"></span>
            </button>
            <span class="button-divider"></span>
            <button class="downvote" data-songid="2" data-downvoted="0">
                <span class="downvote-icon"></span>
            </button>
        </div>
    </article>
</li>