<!DOCTYPE html>
<html>
  <head>
	<title>Grudio</title>
	<link rel='stylesheet' href='/stylesheets/vendor/bootsrap/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/leftmenu.css' />
  </head>
  <body>
	<header>
		<div id="header-wrapper">
			{% include 'header.html' %}
		</div>
	</header>
	<div id="leftmenu-wrapper" class="">
		 {% include 'leftmenu.html' %}
	</div>
	 <div id="main-wrapper">
		<div id="equaliser-wrapper">
			<div id="waveform" style="padding-top:90px;overflow:hidden;"></div>
		</div>
		<div id="list-songs-wrapper">
			{% include 'listsongs.html' %}
		</div>
	</div>
  <!-- BEGIN: Underscore Template Definition. -->
  <script type="text/template" class="songs-template">
    {% include '../../public/javascripts/templates/songs.html' %}
  </script>
	<script src="javascripts/vendor/jquery/jquery.min.js"></script>
	<script src="javascripts/vendor/bootsrap/bootstrap.min.js"></script>
  <script src="javascripts/vendor/underscore/underscore-min.js"></script>
	<script src="javascripts/leftmenu.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/audioplayer.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>
	<script src="javascripts/audioplayer.js"></script>
  </body>
</html>
