<div class="main-playlist clearfix">
    <div class="col-md-9 col-lg-9 pd0 song-list-wrapper">
        <ul class="song-list">
            {% include 'songs.html' %}
        </ul>
        <div class="current-song-wrapper">
            <div id="playpause" class="col-md-9 col-lg-9" onclick="playPause()">
                <button class="player-control-btn play">
                    <span class="player-control-icon"></span>
                </button>
                <p>Oh let me go now! oh Seniorita!vfgchchcsdgh</p>
            </div>
            <div class="player-action col-md-3 col-lg-3">
                <button class="upvote" data-songid="1" data-isupvoted="1">
                    <span class="upvote-icon"></span>
                </button>
                <span class="button-divider"></span>
                <button class="downvote" data-songid="1" data-downvoted="1">
                    <span class="downvote-icon"></span>
                </button>
            </div>

            <div class="add-song-wrapper">
                <img src="images/add_new_song.png" alt="">
                <div class="form-control">
                    <input id="newsongurl" type="url" placeholder="http://localhost:8989/" name="">
                    <input id="newsongname" type="text" placeholder="Name" name="">
                    <button class="btn btn-success btn-xs" onclick="addSong()">Add Song</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 song-ad-wrapper">

    </div>
</div>