html, body{
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}
#header-wrapper {
    height: 60px;
    background: #fff;
    z-index: 20;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    line-height: 60px;
    border-bottom: 1px solid #dbdbdb;
}
#leftmenu-wrapper {
    background: purple;
    width: 250px;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    z-index: 19;
}
#main-wrapper {
    height: 100vh;
    margin-left: 250px;
}
.main-playlist {
    height: 100%;
}
#equaliser-wrapper {
    background: #f3f3f3;
    height: 40vh;
    border-bottom: 1px solid #dbdbdb;
}
#list-songs-wrapper {
    height: 60vh;
    position: relative;
}
.header-logo {
    margin-left: 10px;
    width: 80px;
    height: 42px;
}
#user-profile-wrapper {
    display: inline-block;
}
#user-profile-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 10px;
    line-height: 40px;
    float: right;
    margin-right: 10px;
}
#user-profile-wrapper img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.song-list-wrapper {
    border-right: 1px solid #e7e7e7;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.song-list {
    padding: 0;
    list-style: none;
    overflow: auto;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.song-name {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    line-height: 50px;
    color: rgba(0,0,0,0.7);
}
.song-item {
    border-bottom: 1px solid #e7e7e7;
}
.song-item article {
    height: 50px;
    line-height: 50px;
}
.song-action {
    text-align: right;
    height: 50px;
}
.song-action button {
    background: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    padding:0;
}
.song-action button span {
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: block;
}
.song-action .upvote-icon {
    background-image: url(/images/list_like.png);
}
.upvote.active .upvote-icon {
    background-image: url(/images/list_like_select.png);
}
.song-action .downvote-icon {
    background-image: url(/images/list_dis_like.png);
}
.downvote.active .downvote-icon {
    background-image: url(/images/list_dis_like_select.png);
}
.button-divider{
    width: 1px;
    height: 35px;
    display: inline-block;
    margin-top: 8px;
    vertical-align: top;
    background-color: #dbdbdb;
}
.pd0 {
    padding: 0;
}
.current-song-wrapper {
    height: 60px;
    position: absolute;
    width: 100%;
    background: red;
    bottom: 0;
}