<img class="header-logo" src="/images/itunes.png" alt="Groudio" />
<div id="user-profile-wrapper">
    <img class="user-profile-pic" src="https://cdn-images-1.medium.com/fit/c/40/40/0*UY17TkCtl-VMbXHX.jpeg" alt="Groudio" />
</div>