<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/vendor/bootsrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div id="header-wrapper">
            <!-- include header file -->
        </div>
    </header>
    <div id="leftmenu-wrapper" class="col-lg-3">
         <!-- include leftmenu file -->
         asd
    </div>
     <div id="main-wrapper">
        <!-- include main file -->
        sdads
    </div>
    <script src="javascripts/vendor/jquery/jquery.min.js"></script>
    <script src="javascripts/vendor/bootsrap/bootstrap.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
