
#header-wrapper {
    height: 60px;
    background: #fff;
    z-index: 20;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    line-height: 60px;
}
#leftmenu-wrapper {
    background: purple;
    width: 250px;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    z-index: 19;
}
#main-wrapper {
    height: 100vh;
    margin-left: 250px;
}
.main-playlist {
    height: 100%;
    background: pink;
}
#equaliser-wrapper {
    background: #16a085;
    height: 30vh;
}
#list-songs-wrapper {
    height: 70vh;
    position: relative;
}
.header-logo {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
#user-profile-wrapper {
    display: inline-block;
}
#user-profile-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 10px;
    line-height: 40px;
    float: right;
    margin-right: 10px;
}
#user-profile-wrapper img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.song-list-wrapper {
    border-right: 1px solid rgba(0,0,0,.09);
    background: #7272aa;
    height: 100%;
    overflow: hidden;
}
.song-list {
    padding: 0;
    list-style: none;
    overflow: auto;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.song-name {
    display: inline-block;
    margin: 0;
    font-size: 16px;
}
.song-item {
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0,0,0,.09);
}
.song-action button {
    background: #fff;
    outline: none;
    border: none;
    font-size: 16px;
}
.pd0 {
    padding: 0;
}